.container2 {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: black;
  border: 2px solid cyan;
  box-shadow: 2px 2px 3px #333;
  padding: 10px;
  margin: 13px;
}
.container2 img {
  width: 100%;
}
.container2 h4 {
  color: white;
}
.container2 img:hover {
  transform: scale(0.9);
}
